body {
    background-color: whitesmoke;
    margin: 20px;
    text-align: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }

  a {
    color: darkblue;
    transition: purple;
  }