body {
    background-color: white;
    text-align: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20%;
    margin-right: 20%;
  }

  a {
    color: mediumaquamarine;
    text-decoration: none;
  }

  a:hover {
    color: aquamarine;
  }

  h1 {
    text-transform: uppercase;
    a {
      color: seagreen;
    }
    a:hover {
      color: mediumseagreen;
    }
    font-size: 32px;
  }

  nav {
    display: flex;
    text-align: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      font-size: 24px;
    }
    li {
      float: inherit;
      padding-right: 10%;
      padding-left: 0%;
    }
    a {
      color: seagreen;
    }
    a:hover {
      color: mediumseagreen;
    }
  }

  .current {
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }

  .footer {
    p {
      font-style: italic;
      font-size: 12px;
    }
  }

  ul {
    li {
      font-size: 16px;
    }
  }
/*
.top {
    position: fixed;
    left: 10%;
    width: 80%;
    top: 2%;
    height: 15%;
  }

.middle {
    position: fixed;
    left: 10%;
    width: 80%;
    top: 22%;
    height: 67%;
    overflow-y: auto;
  }


.footer {
  position: fixed;
  left: 10%;
  width: 80%;
  bottom: 0;
  height: 8%;
  text-align: left;
  p {
    font-style: italic;
  }
}
*/