body {
    background-color: white;
    text-align: left;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
    font-size: 10%;
  }

  ul {
    font-size: 10%;
  }

  a {
    color: mediumaquamarine;
    text-decoration: none;
  }

  a:hover {
    color: aquamarine;
  }

  h1 {
    font-size: 20%;
    text-transform: uppercase;
    a {
      color: seagreen;
    }
    a:hover {
      color: mediumseagreen;
    }
  }

  nav {
    display: flex;
    text-align: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }
    li {
      float: inherit;
      padding-top: 2%;
      padding-right: 10%;
      padding-bottom: 2%;
      padding-left: 0%;
      font-size: 15%;
    }
    a {
      color: seagreen;
    }
    a:hover {
      color: mediumseagreen;
    }
  }

  .current {
    font-weight: bold;
  }

.top {
    position: fixed;
    left: 10%;
    width: 80%;
    top: 2%;
    height: 14%;
  }

.middle {
    position: fixed;
    left: 10%;
    width: 80%;
    top: 41%;
    height: 54%;
    overflow-y: auto;
  }


.footer {
  position: fixed;
  left: 10%;
  width: 80%;
  bottom: 0;
  height: 5%;
  text-align: left;
  p {
    font-style: italic;
    font-size: 3%;
  }
}