body {
    background-color: blanchedalmond;
    margin: 20px;
    text-align: left;
  }
  h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 15px;
  }

  a {
    color: blueviolet;
  }